
Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/

*.log
*.vs
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

*.opensdf
*.sdf
*.pdb
*.cache
*.obj
*.o
*.output
*.class
*.ipch
*.aps
*.ncb
*.pyc
*.pyo
*.dll
*.exe
*.app
*.dylib
*.dll
*.app
*.lib
*.apk
*.DS_Store
Thumbs.db

*.uasset
*.umap